$websites-font: "Poppins", sans-serif;

$light_blue_btn: #06f;
$dark_blue_btn: #1337c0;
$secondary-text-colour: #606060;
$minus_icon_color: lighten(#606060, 20);
$table-border-colour: #e4e4e4;
$business_table_header_bg: #e8f0fd;
$personal_table_header_bg: #f8f9fb;