@mixin make_border($type, $color, $width, $radius:none){
    border: $type $width $color;
    border-radius: $radius;
}

@mixin make-btn($textCol, $background, $border_type, $border_col, $thickness, $radius){
    text-decoration: none;
    padding: 0.7rem 1rem;
    color: $textCol;
    background: $background;
    font-weight: bold;
    @include make_border($border_type, $border_col, $thickness, $radius)
}

@mixin btn-hover($bg, $color:"inherit"){
    color: $color;
    background: $bg;
}

@mixin removeItem(){
    display: none;
}
